[data-unit-type="unitB"]{
	background-color:$unitB; 
	color:$unitBDark;

	.spot{
		background-color:$unitBDark;
	}
}
[data-unit-type="unitY"]{
	background-color:$unitY; 
	color:$unitYDark;

	.spot{
		background-color:$unitYDark;
	}	
}
[data-unit-type="unitG"]{
	background-color:$unitG; 
	color:$unitGDark;

	.spot{
		background-color:$unitGDark;
	}		
}