/* fonts */


/* images */

$calendarSettings:url(#{$dirImages}calendar_settings.png);
$calendarWeekView:url(#{$dirImages}calendar_week_view.png);
$calendarSingleMonthView:url(#{$dirImages}calendar_single_month_view.png);
$calendarMultipleMonthsView:url(#{$dirImages}calendar_multiple_months_view.png);