@import "../../globalPartials/_vars";


.dialogInnerEditClass{

	.fullWidthTop20{	


		.innerTitle{
			background:$grey1;
			position:relative;
			padding:5px;
		}


		/* hack over React Material UI inline styles...*/
		.btnCloseDialog{
			position:absolute !important;
			left:20px;
			top:50%;
			margin-top:-18px !important;
			min-width: 0 !important;
			padding:5px !important;

			> div{
				height:auto !important;
				line-height: normal !important;

			}
			> div,
			> div > span{
				font-size: medium !important;
			}

			span{				
				line-height:nrormal !important;
				padding-left:0 !important;
				padding-right:0 !important;
			}

		}

		.iClear{
			fill:#fff !important;
		}

		h3{
			text-align:center;
			color:$greyFF !important;
			padding:20px 0;
		}


	}
	
}